@page "/tags"

<div class="page-container">
    <h1 class="header">Tags</h1>
    @if (TagPage != null)
    {
        <span class="header-amount-tags light-grey">
            Amount of tags: @TagPage.TotalAmountOfTags
        </span>
        <span class="header-info">
            Here you can find all main category that we have. Find a topic that interest you and scroll throught it or go to subcategories and find more specific topic for you!
        </span>
        <span class="grey">
            Filter by tag name
        </span>
        <div class="search-sort-row">
            <input type="text" class="tag-searcher tag-searcher-text" placeholder="Enter name of tag that interest you..." />
            <div class="sort-container">
                <span class="light-grey">
                    Sort:
                </span>
                <div class="button-container">
                    <div class="sort-button @(ActiveSorting==0?"active-sort":"inactive-sort")" @onclick="@(async () =>await ChangeSorting())">
                        Popular
                    </div>
                    <div class="sort-button @(ActiveSorting==1?"active-sort":"inactive-sort")" @onclick="@(async () =>await ChangeSorting())">
                        Name
                    </div>
                </div>
            </div>
        </div>
        <div class="tags-container">
            @foreach (var tag in TagPage.Tags)
            {
                <div class="single-tag">
                    <SingleTagComponent Tag="tag" IsMainTag="true"></SingleTagComponent>
                </div>

            }
        </div>
        <div class="pagination-row">
            <PaginationComponent ElementsSize="@TagPage.TotalAmountOfTags" PageSelectedListener="SetPage" PageSize="@Config.TAGS_PAGE_SIZE" ActualPage="activePage" ></PaginationComponent>
        </div>
    }
    else
    {
        <LoadingIndicatorComponent></LoadingIndicatorComponent>
    }
</div>