<div class="search-bar-container @(isWhiteTheme ? "" : "search-bar-container-dark")">
    <div class="bar-content @(isWhiteTheme ? "" : "bar-content-dark")">
        <img src="img/magnifing-glass.svg"/>
        <input type="text" class="search-bar @(isWhiteTheme ? "" : "search-bar-dark")" placeholder="Search..."/>
    </div>
</div>
<AuthorizeView>
    <NotAuthorized>
        <NavLink href="login">
            <div class="login-btn">
                Log in
            </div>
        </NavLink>
        <NavLink href="register" class="sign-up-btn">
            <div class="sign-up-btn">
                Sign up
            </div>
        </NavLink>
    </NotAuthorized>
    <Authorized>
        <NavLink href="ask-question">
            <div class="ask-question-btn">
                Ask question
            </div>
        </NavLink>
        <div class="icon icon-mail @(isWhiteTheme ? "" : "icon-dark")"/>
        <div class="icon icon-notification @(isWhiteTheme ? "" : "icon-dark")"/>
        <img src="missing" class="profile-logo"/>
    </Authorized>
</AuthorizeView>


@code {

    /// <summary>
    ///     Zmienna informująca jaki jest aktualny theme
    /// </summary>
    [CascadingParameter]
    protected bool isWhiteTheme { get; set; }

}